flask
Flask-Uploads
Flask-WTF
werkzeug

# for user auth
Flask-BasicAuth

# for read csv, xls, xlsx
pandas

# for read xls, xlsx
xlrd
openpyxl
xlwt

# for reading xml
lxml
html5lib
BeautifulSoup4

# for mysql
mysqlclient
sqlalchemy

# for ixioo sql queries
-e git+https://github.com/vitalfadeev/sqlinterface.git#egg=sqlinterface

# for testing
requests
